<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorial of a Number</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/styles.css')}}">
</head>
<body>
    <h1>SRN:PES2UG21CS213</h1>
    <h2>Printing the factorial:</h2>
    {%set ns = namespace(num=1)%}
    {%for i in range(1,n+1)%}
        <h3>{{i}}! = {{ns.num*i}}</h3>
        {% set ns.num = ns.num*i%}
    {%endfor%}
</body>
</html>